extends layout.pug


block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

    

        
        h1 #{projectName}

        
        //- Using "!" instead of "#" will render HTML properties in my projects.json file! 
        p !{description}  

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- loop thru technoligies array in projects.json and add a "li" for each technology used. 
          each val in technologies
            li= val

        
        a.btn-link(href=`${live}`, target='_blank' ) Live Demo
        a.btn-link(href=`${github}`, target='_blank' ) GitHub Repo

    .project-img-box.box

      
      each val in img
        img.project-img(src=`${val}`, alt='')
       

    nav.nav
      a(href='/')
        span &larr;
        |  Back
